{:dev-config #or [#include "dev-config.edn" {}]

 :log {:level #profile {:dev :debug
                        :test :debug
                        :prod :info}}

 :webserver {:port #profile {:dev 3000
                             :test 3000
                             :prod 80}}

 :datasource-options {:auto-commit        true
                      :read-only          false
                      :connection-timeout 30000
                      :validation-timeout 5000
                      :idle-timeout       600000
                      :max-lifetime       1800000
                      :minimum-idle       10
                      :maximum-pool-size  10
                      :pool-name          "db-pool"
                      :adapter            "postgresql"
                      :username           "clark"
                      ;;:password         "password"
                      :database-name      "postgres"
                      :server-name        "localhost"
                      :port-number        5432
                      :register-mbeans    false}}
